@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scroll-bar::-webkit-scrollbar {
		display: none;
	}

	.no-scroll-bar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.scrolling-touch {
		-webkit-overflow-scrolling: touch;
	}
}
